In [2]:
import pandas as pd

In [4]:
# 읽기, 데이터 확인
df = pd.read_json('../data/target.json', lines=True)
df.head(10)

,logType,gameId,tableIdx,message
0,G,HQzVOwExhC88FAnQT82dMPnu1Lvn17MR,0,"[{'cmd': 'player', 'timestamp': 1741657301525,..."
1,G,HQzVOwExhC88FAnQT82dMPnu1Lvn17MR,0,"[{'cmd': 'player', 'timestamp': 1741657393119,..."
2,G,HQzVOwExhC88FAnQT82dMPnu1Lvn17MR,0,"[{'cmd': 'player', 'timestamp': 1741657465735,..."
3,G,HQzVOwExhC88FAnQT82dMPnu1Lvn17MR,0,"[{'cmd': 'player', 'timestamp': 1741657499169,..."
4,G,MU874jHQaTKWKFqIYfaib48P73yH1ewq,0,"[{'cmd': 'player', 'timestamp': 1741662159484,..."
5,G,T_mD71shtMUTLKjxcLdOnTuhYR84OAGU,2,"[{'cmd': 'player', 'timestamp': 1741672386798,..."
6,G,T_mD71shtMUTLKjxcLdOnTuhYR84OAGU,2,"[{'cmd': 'player', 'timestamp': 1741672396119,..."
7,G,T_mD71shtMUTLKjxcLdOnTuhYR84OAGU,2,"[{'cmd': 'player', 'timestamp': 1741672430232,..."
8,G,T_mD71shtMUTLKjxcLdOnTuhYR84OAGU,2,"[{'cmd': 'player', 'timestamp': 1741672439549,..."
9,G,T_mD71shtMUTLKjxcLdOnTuhYR84OAGU,2,"[{'cmd': 'player', 'timestamp': 1741672448868,..."

In [6]:
# 보고싶은 gameId만 필터링
filtered_df = df[df['gameId'] == 'LIZxkQpQBRxOdJ1LJp0RijYvA70jWP23']
filtered_df = filtered_df.reset_index(drop=True)
filtered_df = pd.DataFrame(filtered_df)
filtered_df.head()

,logType,gameId,tableIdx,message
0,G,LIZxkQpQBRxOdJ1LJp0RijYvA70jWP23,0,"[{'cmd': 'player', 'timestamp': 1741686820401,..."
1,G,LIZxkQpQBRxOdJ1LJp0RijYvA70jWP23,0,"[{'cmd': 'player', 'timestamp': 1741686843946,..."
2,G,LIZxkQpQBRxOdJ1LJp0RijYvA70jWP23,0,"[{'cmd': 'player', 'timestamp': 1741687060455,..."
3,G,LIZxkQpQBRxOdJ1LJp0RijYvA70jWP23,0,"[{'cmd': 'player', 'timestamp': 1741687078730,..."
4,G,LIZxkQpQBRxOdJ1LJp0RijYvA70jWP23,0,"[{'cmd': 'player', 'timestamp': 1741687122109,..."

In [21]:
print(filtered_df['message'])

0    [{'cmd': 'player', 'timestamp': 1741686820401,...
1    [{'cmd': 'player', 'timestamp': 1741686843946,...
2    [{'cmd': 'player', 'timestamp': 1741687060455,...
3    [{'cmd': 'player', 'timestamp': 1741687078730,...
4    [{'cmd': 'player', 'timestamp': 1741687122109,...
5    [{'cmd': 'player', 'timestamp': 1741687148761,...
6    [{'cmd': 'player', 'timestamp': 1741687160736,...
7    [{'cmd': 'player', 'timestamp': 1741687200026,...
8    [{'cmd': 'player', 'timestamp': 1741687231752,...
Name: message, dtype: object

In [25]:
hands_raw = pd.read_csv('../data/GG20241212-0336 - RushAndCash22323836 - 0.05 - 0.1 - 6max.txt')
hands_raw.head()

  Poker Hand #RC3141728576: Hold'em No Limit ($0.05/$0.1) - 2024/12/12 13:20:13
0  Table 'RushAndCash22323836' 6-max Seat #1 is t...
1                 Seat 1: 727f0a35 ($13.75 in chips)
2                     Seat 2: Hero ($10.54 in chips)
3                    Seat 3: 73154d50 ($10 in chips)
4                 Seat 4: ae2a34aa ($10.24 in chips)

In [26]:
hands_raw = hands_raw.strip().split('\n\n')

AttributeError: 'DataFrame' object has no attribute 'strip'